<footer class="footer">
  <div class="container">
    <div class="row d-flex justify-content-between footer-Content">
      <div class="footerMenu">
        <ul class="footerMenu-list d-flex">
          <li class="footerMenu-list-item"><a class="footerLink" href="/">首頁</a></li>
          <li class="footerMenu-list-item"><a class="footerLink" href="/">食記</a></li>
          <li class="footerMenu-list-item"><a class="footerLink" href="/">常見問題</a></li>
        </ul>
        <ul class="footer-contact">
          <li class="footer-contactList d-flex align-items-center mb-2">
            <i class="fas fa-phone fa-lg text-dark mr-3"></i>
            <span class="listText">0800-000-000</span>
          </li>
          <li class="footer-contactList d-flex align-items-center">
            <i class="fas fa-envelope fa-lg text-dark  mr-3"></i>
            <span class="listText">Restaurant@business.com</span>
          </li>
        </ul>
      </div>
      <div>
        <ul class="social d-flex">
          <li class="social-icons">
            <a href="/">
              <i class="social-iconsImg fab fa-facebook-square fa-3x text-dark"></i>
            </a>
          </li>
          <li class="social-icons">
            <a href="/">
              <i class="social-iconsImg fab fa-instagram fa-3x text-dark"></i>
            </a>
          </li>
          <li class="social-icons">
            <a href="/">
              <i class="social-iconsImg fab fa-line fa-3x text-dark"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row provision justify-content-between">
      <span class="copyright">Copyright © 2021 Restaurant.All rights reserved.</span>
      <ul class="provision-list d-flex">
        <li class="provision-list-item"><a class="footerLink" href="/">隱私權政策</a></li>
        <li class="provision-list-item"><a class="footerLink" href="/">服務條款</a></li>
      </ul>
    </div>
  </div>
</footer>
